h1{
    text-align: center;
    color: white;
    font-size: 55px;
    
}
ul li{
    list-style: none;
}
.ody{
    background-image: url(../images/food.jpg);
    background-size: cover;
    height: 580px;
    width: 100%;
}
