h1{
    text-align: center;
    color: white;
    font-size: 55px;  
}
ul li {
 list-style: none;
 display: inline-block;
}
ul li a {
 text-decoration: none;
 color: white;
 font-size: 30px;
 padding: 0 20px;
}

#welcome{
    text-align: center;
}
.ody{
    background-image: url(../images/food.jpg);
    background-size: cover;
    height: 580px;
    width: 100%;
}
table {
    width: 400px;
    text-align: center
}
table, th, td {
    border: 1px solid  black;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
}
#menu{
    color: white;
    font-weight: bolder;
    background-image: url(../images/men.jpg);
    width: 450px;
    height: 460px;
    background-repeat: no-repeat;
}
